<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="abalon.paradiset.se" android:versionCode="17120" android:versionName="17.1.20">
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="com.informationfactory.abalon.permission.C2D_MESSAGE" />
	<permission android:name="com.informationfactory.abalon.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="27" />
	<application android:label="Paradiset" android:icon="@drawable/IconPar">
		<receiver android:name="com.google.android.gms.gcm.GcmReceiver" android:exported="true" android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
				<action android:name="com.informationfactory.abalon.UPDATE_STATUS" />
				<category android:name="com.informationfactory.abalon" />
			</intent-filter>
		</receiver>
	</application>
</manifest>